| Dividends | Dividend returns analysis|
| ----------- | ----------- |

In [16]:
import pandas as pd
import numpy as np
import openpyxl
import requests

import pyEX as p

# Import iex cloud api token
from config import iex_api_token

In [17]:
# Connect to IEX cloud api endpoint
c = p.Client(api_token=iex_api_token, version='stable')

ticker = 'AAPL'

df = c.dividendsDF(symbol=ticker)

df

,adrFee,amount,announceDate,countryCode,coupon,created,currency,declaredCurrencyCD,declaredDate,declaredGrossAmount,...,securityType,symbol,taxRate,toDate,toFactor,id,key,subkey,date,updated
0,0,0.23,2022-10-27,US,0,2022-10-28,USD,,2022-10-27,0,...,Equity Shares,AAPL,0,0000-00-00,0,ADVANCED_DIVIDENDS,AAPL,2733643,1667520000000,1667075238000

In [18]:
nly_input = c.dividendsDF(symbol='NLY')
df = pd.concat([df, nly_input], ignore_index=True)

df

,adrFee,amount,announceDate,countryCode,coupon,created,currency,declaredCurrencyCD,declaredDate,declaredGrossAmount,...,securityType,symbol,taxRate,toDate,toFactor,id,key,subkey,date,updated
0,0,0.23,2022-10-27,US,0,2022-10-28,USD,,2022-10-27,0,...,Equity Shares,AAPL,0,0000-00-00,0,ADVANCED_DIVIDENDS,AAPL,2733643,1667520000000,1667075238000
1,0,0.88,2022-12-08,US,0,2022-12-09,USD,,2022-12-08,0,...,Equity Shares,NLY,0,0000-00-00,0,ADVANCED_DIVIDENDS,NLY,2775844,1672272000000,1670703623000

In [19]:
# Create a list of stocks that you know issue stock dividends
div_list = ['VFC', 'DVN', 'BBY', 'VZ', 'T', 'INTC', 'PM', 'MMM']

for i in div_list:
    div_data = c.dividendsDF(symbol=i)
    df = pd.concat([df,div_data], ignore_index=True)

df.head(5)

,adrFee,amount,announceDate,countryCode,coupon,created,currency,declaredCurrencyCD,declaredDate,declaredGrossAmount,...,securityType,symbol,taxRate,toDate,toFactor,id,key,subkey,date,updated
0,0,0.23,2022-10-27,US,0,2022-10-28,USD,,2022-10-27,0,...,Equity Shares,AAPL,0,0000-00-00,0,ADVANCED_DIVIDENDS,AAPL,2733643,1667520000000,1667075238000
1,0,0.88,2022-12-08,US,0,2022-12-09,USD,,2022-12-08,0,...,Equity Shares,NLY,0,0000-00-00,0,ADVANCED_DIVIDENDS,NLY,2775844,1672272000000,1670703623000
2,0,0.51,2022-10-26,US,0,2022-10-27,USD,,2022-10-26,0,...,Equity Shares,VFC,0,0000-00-00,0,ADVANCED_DIVIDENDS,VFC,2733060,1670544000000,1670617336000

In [20]:
# Drop the extra columns 
df = df.drop(columns = ['adrFee', 'coupon', 'declaredCurrencyCD', 'declaredGrossAmount', 'id', 'key', 'figi', 
'fiscalYearEndDate', 'secondExDate', 'secondPaymentDate', 'securityType', 'toDate', 'toFactor', 'date', 'updated', 'parValue',
'parValueCurrency', 'periodEndDate', 'recordDate', 'refid', 'registrationDate', 'taxRate', 'subkey',
'isApproximate', 'isCapitalGains', 'isDAP', 'isNetInvestmentIncome', 'marker', 'netAmount', 'notes', 'optionalElectionDate',
'description', 'flag', 'fromFactor', 'fxDate', 'installmentPayDate', 'announceDate', 'created', 'grossAmount',
'declaredDate', 'lastUpdated', 'countryCode'])

# Set column order
column_order = ['symbol', 'exDate', 'paymentDate', 'frequency', 'currency', 'amount']
df = df[column_order]

df

  symbol      exDate paymentDate  frequency currency  amount
0   AAPL  2022-11-04  2022-11-10  quarterly      USD  0.2300
1    NLY  2022-12-29  2023-01-31  quarterly      USD  0.8800
2    VFC  2022-12-09  2022-12-20  quarterly      USD  0.5100
3    DVN  2022-12-09  2022-12-30  irregular      USD  1.1700
4    BBY  2022-12-12  2023-01-03  quarterly      USD  0.8800
5     VZ  2023-01-09  2023-02-01  quarterly      USD  0.6525
6      T  2023-01-09  2023-02-01  quarterly      USD  0.2775
7   INTC  2022-11-04  2022-12-01  quarterly      USD  0.3650
8     PM  2022-12-21  2023-01-11  quarterly      USD  1.2700
9    MMM  2022-11-17  2022-12-12  quarterly      USD  1.4900